.layout {
	margin:3px;
	border:1px solid #8888ee;
}

.widget {
	padding:3px;
	border:1px solid #fff;
	min-height: 24px;
	background:#fff;
}

.widget-help-enter {
  opacity: 0.01;
}

.widget-help-enter.widget-help-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.widget-help-leave {
  opacity: 1;
}

.widget-help-leave.widget-help-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
